p {
	line-height: 14px;
}

.contact {
	border-bottom: 1px solid black;
}
.contact p {
	line-height: 8px;
	color: #777;
}

.date {
	color: #555;
}

.school {
	font-weight: bold;
}

.position {
	font-style: italic;
	text-decoration: underline;
	font-size: 16px;
}

.education {
	font-size: 16px;
}

.references {
	margin-top: 20px;
	font-style: italic;
}